.sidebar {
  width: 230px;
  height: 100vh;
  background: white;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.sec1 {
  margin-top: auto;
}

i {
  margin-right: 15px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #4880ff;
  margin-bottom: 50px;
}

.logo span {
  font-size: 20px;
  color: black;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 20px 0;
}

.menu li a {
  text-decoration: none;
  color: #202224;
  font-size: 14px;
  display: flex;
}

.logout-btn {
  background: none;
  border: none;
  color: #202224;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.logout-btn i {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .sidebar {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .menu {
    display: flex;
    justify-content: space-around;
  }
}
